* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.header {
    display: flex;
    padding: 8px;
    align-items: center;
    background-color: #1F2937;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    background: #1F2937;
}

.media {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 24px;
}

.headline {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 24px;
    border-radius: 8px;
}

.content {
    width: 400px;

}

img {
    height: auto;
    width: 400px;
}


.info .img {
    width: 150px;
    height: auto;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.information {
    text-align: center;
    padding: 25px 25px 100px 25px;
}

.info {
    max-width: 200px;
}

.info .text {
    max-width: 150px;
    color: black;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}

.block-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}

.source {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    padding: 0px 40px 0px 0px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: #1F2937;
    font-weight: bolder;
}